body {
    margin: 0;
    height: 100vh;
    display: flex;
    position: relative;
}

nav {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 40px;
    z-index: 999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

nav ul li {
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center; }

nav ul li:hover {
    color: #555;
}

#MathTrainerField,
#LearningCenterField,
#TapThatBallField,
#BlankField {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    height: 100%;
    transition: flex 0.3s ease;
}

.project-field {
    position: relative;
    overflow: hidden;
}

.project-field img,
.project-field video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border: 4px solid black;
}


.project-field .static {
    opacity: 1;
    z-index: 1;
}
.project-field .hover-video {
    opacity: 0;
    z-index: 2;
}


.project-field:hover .static {
    opacity: 0;
}
.project-field:hover .hover-video {
    opacity: 1;
}



#MathTrainerField:hover,
#LearningCenterField:hover,
#TapThatBallField:hover,
#BlankField:hover {
    flex: 5;
}



